.chat {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.chat.down {
    bottom: -355px
}

.chat .chatToggle {
    width: 100%;
    background-color: #85DCE6;
    text-align: center;
    position: relative;
    border-radius: 0.25rem;
}

.chat .chatToggle .close {
    position: absolute;
    right: 3px;
    top: 3px;
}

.chat .comments {
    max-height: 300px;
    height: 300px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
    -ms-overflow-style: none;
}

.chat .comments::-webkit-scrollbar {
    display: none;
  }
  
.chat .comments .comment-info {
    color: lightslategray;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.chat .comments .comment {
    margin: 0;
}

.chat input {
    width: 95%;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    display: block;
}

@media screen and (max-width: 768px) {
    .chat {
        position: fixed;
        bottom: 0;
        right: 5%;
        width: 90%;
        background-color: #fff;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    }
    .chat .comments {
        max-height: unset;
        height: 70vh;
    }
    .chat.down {
        bottom: -82vh
    }
}