.one-post .post-header {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #282c34;
}

.one-post .post-header h1 {
    max-width: 1000px;
    margin-bottom: 0;
}

.one-post .post-header .author {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
}

.one-post .post-header .commentInput {
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.one-post .post-header .commentInput input {
    width: 100%;
    margin: 10px auto;
}

.one-post .post-comments {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.one-post .post-header .edited {
    color: #f5c6cb;
}