.error-banner {
    position: fixed;
    background-color: #f2dede;
    border-color: #ebccd1;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-radius: 4px;
    left: 25%;
    right: 25%;
    top: 10px;
    z-index: 10;
}

.error-banner  p {
    bottom: 10px;
    text-align: center;
    color: #a94442;
    padding: 10px;
    margin: 0;
}

.error-banner .icon {
    position: absolute;
    right: 8px;
    top: 8px;
}