.main-header {
    max-height: calc(100vh - 72px);
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    display: flex;
}

.post-area, .comment-area{
    color: #282c34;
    width: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;
}

.comment-area .commentInput {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.comment-area .commentInput textarea {
    margin: 10px auto;
    width: 90%;
}

.main-header p.load-warning {
    text-align: center;
}