.main-header {
    min-height: 90vh;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    display: flex;
}

.post-area {
    color: #282c34;
    width: 600px;
    overflow: scroll;
}

.comment-area {
    width: 600px;
    overflow: scroll;
}


.main-header p.load-warning {
    text-align: center;
}