.card.staff {
    position: relative;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-radius: .25rem;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 20px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card.staff .edit {
    display: flex;
    align-items: center;
}

.card.staff .edit input {
    width: 100%;
}

.card.staff .icon {
    color: #c16ecf;
    height: 20px;
    margin-left: 5px;
}

.card.staff .editIcon, .card.staff .voteIcon {
    position: absolute;
    top: 8px;
    right: 8px;
}

.card.staff  .card-title {
    text-align: center;
    margin: 0;
}

.card.staff .votes {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 12px;
}

.card.staff .view-link {
    text-align: center;
}
 
@media screen and (min-width: 768px) {
    .card.staff {
        width: 400px;
    }
}