.navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
}
  
.navbar .main-nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

.navbar span {
    display: block;
    line-height: 7px;
}
  
.navbar .nav-links,
.navbar .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.navbar .main-nav li a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar .main-nav li .profileNav {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.navbar .main-nav li img {
    margin-right: 5px;
    border-radius: 50%;
}
  
.navbar .logo {
    display: inline-block;
    font-size: 22px;
    margin-left: 20px;
}

.navbar button.clear {
    padding: 0px;
    background-color: unset;
    border: unset;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    margin-left: 10px;
}

.navbar button:focus, .navbar button:active {
    outline: 0;
}
  
#chkToggle:checked + ul.main-nav {
    display: block;
}
    