.main-header {
    z-index: -1;
    background: linear-gradient(#fff, #282c34);
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.main-information {
    background-color: #282c34;
    height: 100vh;
    color: #fff;
}

.secondary-information {
    background: linear-gradient(#282c34, #fff);
    height: 100vh;
    color: #fff;
}