.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
}

.overlay .modal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40vw;
    height: auto;
    background-color: #fff;
    z-index: 5;
    border-radius: 4px;

}

.overlay .modal .close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    cursor: pointer;
}

.overlay .modal textarea {
    width: 90%;
    resize: none;
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.overlay .modal button {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .overlay .modal {
        width: 100%;
    }
}