.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);

}

.overlay .modal {
    position: relative;
    width: 60vw;
    height: auto;
    background-color: #fff;
    z-index: 5;
}

.overlay .modal .close{
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 22px;
    cursor: pointer;
}

.overlay .modal input {
    width: 80%;
}

.overlay .modal button {
    display: flex;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}