.InformationCard {
    max-height: 400px;
    max-width: 400px;
    background-color: #282c34;
    border-radius: 4px;
    color: #fff;
    margin: auto;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.InformationCard  hr{
    color: #fff;
}

.InformationCard .information {
    display: flex;
    justify-content: space-around;
}

.InformationCard .information .info-section{
    padding: 10px;
}

.InformationCard .information .info-section span{
    font-size: 30px;
    display: block;
}

.InformationCard  p{
    font-size: 12px
}